<div class="row">
    <div class="col-xs-12" >
        <h3>Social Template (Facebook)</h3>
        {% set object=data[0]%}
        {% include "social.html" %}

        <h3>Tags Template (Facebook)</h3>
        {% set object=data[1]%}
        {% include "tags.html" %}
    </div>
</div>
