<div class="row">
    <div class="col-xs-12" >
    <h3>Social Template (LinkedIn)</h3>
    {% set object=data[0]%}
    {% include "agents/social-linkedin.twig" %}

    <h3>Tags Template (LinkedIn)</h3>
    {% set object=data[1]%}
    {% include "agents/tags-linkedin.twig" %}
    </div>
</div>