{% extends "layout.twig" %}

{% block main %}
    <h3>Login</h3>
    <form method="POST" action="/login" role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/register" class="btn btn-default">Register</a>
    </form>
    Log In with CAS <a href="https://esb.exactls.com/cas/login?service={{ app_url }}">Here</a>
{%  endblock %}